body {
    background-color: linen;
    margin-left: 5px;
}
ul {
    list-style-type:disc;
}
hr {
    border-style: dotted none none;
    border-color: rgb(109, 108, 108);
    border-width:6px;
    width: 10%;
}
#Image {
    width:85px;
    padding:20px;
}
#col1 {
    width:210px;
    padding: 20px;
}
#col2 {
    width:400px;
    padding:20px;
}
#col4 {
    width:210px;
}
#col5 {
    width:100px;
}
#col6 {
    width:100px;
}
#col7 {
    width:400px;
}        
h2 {
    text-decoration: underline;
}
#menu {
    border-right:2px double;
    width:210px;
}
th {
    text-align: left;
}
table, td, th, tr {
    /*border:2px solid black;
    border-collapse: collapse;*/
    padding-left: 10px;
    text-align: left;
    /*border-collapse: collapse;*/
}